body{
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: red;
    margin: 20px;
} hr{
    background-color: yellow;
    height: 1px;
    border: none;
}a:hover {
    color: green;
}.lista{
    background-color: yellow;
}#boton{
    background-color: yellow;
} input::placeholder{
    color: red;
}#boton:hover{
    background-color: red;
}
